@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";

@theme {
	--very-dark-gray: hsl(0, 0%, 17%);
	--dark-gray: hsl(0, 0%, 59%);

	--font-rubik: "Rubik", sans-serif;
	--size-text-input: 18px;
}