@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";

@theme {
	--color-very-dark-gray: hsl(0, 0%, 17%);
	--color-dark-gray: hsl(0, 0%, 59%);

	--font-rubik: "Rubik", sans-serif;
	--text-input: 18px;
}

@layer base {
	html {
		@apply font-rubik text-input text-very-dark-gray;
	}
}

@layer components {
	.bg-pattern {
		@apply bg-[url(/pattern-bg-mobile.png)] lg:bg-[url(/pattern-bg-desktop.png)];
	}

	.content-wrapper-lg {
		@apply w-[85%] max-w-5xl mx-auto;
	}

	.content-wrapper-md {
		@apply w-[85%] max-w-xl mx-auto;
	}
}
